name: Gerenciador de Codespaces

on:
  schedule:
    # ... (os seus crons de parar e ligar continuam aqui, iguais)
    - cron: '0 5 * * *'
    - cron: '0 23 * * *' #<- Certifique-se que o 6 não está mais aqui
  
  # ADICIONE ESTA LINHA:
  workflow_dispatch:

jobs:
  #=======================================================
  # JOB #1: LIGAR O CODESPACE
  #=======================================================
  start-codespace:
    
    # MUDE ESTA LINHA 'if:':
    if: github.event.schedule == '0 23 * * *' || github.event_name == 'workflow_dispatch'
    
    # O resto do job continua igual...
    runs-on: ubuntu-latest
    steps:
      - name: Autenticar com GitHub CLI
      # ... etc ...
